body {
	text-align: center;
	font-size: 90%;
	line-height: 1.6;
	padding: 1em;
}
.centered > span {
	display: block;
	word-break: keep-all;
}
cite {
	white-space: nowrap;
}
main, table {
	margin: 1em auto;
}
button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
	margin: .5em;
	padding: 1em;
	border: thin solid;
	border-radius: .5em;
	background-color: #fff;
	color: #323232;
	border-color: #ddd;
}
button:hover {
	color: #327fc7;
	border-color: #327fc7;
}
button:active, button.active[disabled] {
	background-color: #327fc7;
	color: #fff;
	border-color: #fff;
}
button[disabled] {
	cursor: auto;
	background-color: #ddd;
	color: #fff;
	border-color: #aaa;
}
#status {
	display: block;
	margin: 1em auto;
	text-align: center;
}
form {
	display: flex;
	justify-content: center;
}
textarea {
	flex: 1 1 40em;
}
tr:nth-of-type(2n) {
	background-color: #eee;
}
th:not(:empty) {
	background-color: #ddd;
}
footer {
	margin: 1em auto;
	padding: 1em 0;
	border-top: thin solid #ddd;
}
#overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #ddd8;
}
#popup {
	display: inline-flex;
	justify-content: space-around;
	flex-flow: row wrap;
	margin: 5%;
	padding: 1em;
	border-radius: 1em;
	background-color: #fff;
}
label {
	display: block;
	text-align: left;
}
label > span, label > div {
	display: inline-block;
	vertical-align: middle;
}
label > span {
	min-width: 4em;
	margin: .5em;
}
label > div > * {
	display: none;
}
label > div > :required {
	display: block;
}
#popup > button {
	flex: 1 0 80%;
}